@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet-active {
  background-color: #52b788 !important;
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 25px !important;
}

/* .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
} */

.swiper-container {
  border-radius: 20px !important; /* Ajusta el radio de borde según sea necesario */
  overflow: hidden !important; /* Asegúrate de que el contenido no sobresalga del borde */

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.swiper-container-job {
  border-radius: 20px !important; /* Ajusta el radio de borde según sea necesario */
  overflow: hidden !important; /* Asegúrate de que el contenido no sobresalga del borde */

  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
}
