@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.swiper-pagination-bullet-active {
  background-color: #52b788 !important;
}

.swiper-button-prev {
  color: white !important;
}

.swiper-button-next {
  color: white !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 25px !important;
}

/* .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
} */

.swiper-container {
  border-radius: 20px !important; /* Ajusta el radio de borde según sea necesario */
  overflow: hidden !important; /* Asegúrate de que el contenido no sobresalga del borde */

  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}

.swiper-container-job {
  border-radius: 20px !important; /* Ajusta el radio de borde según sea necesario */
  overflow: hidden !important; /* Asegúrate de que el contenido no sobresalga del borde */

  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); */
}

.sliderContainer {
  /* background: linear-gradient(to right, #000000, #0a0a0a); */
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Elevation effect */
  padding-top: 40px;
  /* box-shadow: 0 4px 8px rgba(0, 255, 0, 0.5); */
}

.testimonialSlide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  height: 200px; /* Fija la altura del slide */
  background: #0a0a0a;
  border-radius: 10px;
  flex-direction: column; /* Asegura que el contenido se apile verticalmente */
}
.testimonialName {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #52b788;
}

.testimonialText {
  font-size: 1em;
  color: #ffffff;
  padding-right: 40px;
  padding-left: 40px;
}

.customTitle {
  color: #ffffff; /* Blanco */
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  margin-bottom: 20px;
  padding: 20px 0;
}

.customTitleContainer {
  padding: 20px 0;
  border-bottom: 2px solid #52b788;
  margin-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .sliderContainer {
    padding: 20px;
  }

  .testimonialSlide {
    height: auto;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    flex-direction: column; /* Asegura que el contenido se apile verticalmente */
    height: 300px;
  }

  .testimonialName {
    font-size: 1.1em;
  }

  .testimonialText {
    font-size: 0.9em;
    padding: 0 10px;
  }
}
